<main>
    <div class="description">
        <div class="technical-skills">full stack | java | angular | javascript</div>
        <h1 class="full-name">Victor Jimenez</h1>
        <div class="biography">Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum excepturi quod cumque reiciendis! Eligendi officia laudantium voluptates, delectus aliquam consequuntur vitae ducimus dignissimos eveniet, nostrum magnam repellat maiores tempore officiis.</div>
        <div class="contact">
            <div class="btn-cv btn">Download my CV</div>
            <div class="btn-icon btn">
                <img src="https://storage.googleapis.com/zeji-portfolio-resources/icons/github.svg" alt="github icon">
            </div>
            <div class="btn-icon btn">
                <img src="https://storage.googleapis.com/zeji-portfolio-resources/icons/linkedin.svg" alt="linkedin icon">
            </div>
            <div class="btn-icon btn">
                <small class="soon">soon</small>
                <img src="https://storage.googleapis.com/zeji-portfolio-resources/icons/dailydev.svg" alt="dailydev icon">
            </div>
        </div>
    </div>
    <div class="my-badges">
        <h2 class="title">My badges</h2>
        <!-- TODO: work it as foreach -->
        <div class="badges">
            <div class="badge">
                <div class="image">
                    <img src="https://storage.googleapis.com/zeji-portfolio-resources/badges/Oracle_Associates_Badge__1_.png" alt="Oracle Certified associate badge">
                </div>
                <div class="title">Oracle certified associate</div>
                <div class="date">soon</div>
                <div class="link"></div>
            </div>
            <div class="badge">
                <div class="image">
                    <img src="https://storage.googleapis.com/zeji-portfolio-resources/badges/angular_developer.png" alt="Certified Angular developer badge">
                </div>
                <div class="title">Certified Angular Developer</div>
                <div class="date">soon</div>
                <div class="link"></div>
            </div>
            <div class="badge">
                <div class="image w-40-px">
                    <img src="https://storage.googleapis.com/zeji-portfolio-resources/badges/spring_certified_professional.png" alt="Certified Angular developer badge">
                </div>
                <div class="title">Spring Certified Professional 2024</div>
                <div class="date">soon</div>
                <div class="link"></div>
            </div>
        </div>
    </div>
    <div class="projects">
        <div class="project">
            <span class="blur-layer">
                <div class="detail">
                    <div class="correlative">01</div>
                    <div class="short-description">A useful todo list API to practice REST request</div>
                    <div class="action">more</div>
                </div>
                <div class="title"><span>todo list api</span></div>
            </span>
        </div>
        <div class="project">
            <span class="blur-layer">
                <div class="detail">
                    <div class="correlative">01</div>
                    <div class="short-description">A useful todo list API to practice REST request</div>
                    <div class="action">more</div>
                </div>
                <div class="title"><span>todo list api</span></div>
            </span>
        </div>
    </div>
</main>

<i class="fas fa-user"></i> 
<i class="fab fa-twitter"></i> 
<i class="fa-brands fa-github"></i>
<!-- <fa-icon [icon]="faCoffee"></fa-icon> -->
