<main>
    <div class="blur-layer-vertical-double"></div>
    <app-description-box class="description hide-on-desk"></app-description-box>
    <div class="links">
        <div class="upper-links">
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
        </div>
        <div class="lower-links">
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
            <div class="link glass">
                <div class="icon"></div>
                <div class="title">Github</div>
            </div>
        </div>
    </div>
    <form>
        <input type="text" name="name" id="name">
        <input type="text" name="message" id="message">
        <button>send message</button>
    </form>
</main>
