<main appBackgroundImage="https://storage.googleapis.com/zeji-portfolio-resources/skills-background/alien.png">
    <div class="blur-layer-vertical-double"></div>
    <app-description-box class="description"></app-description-box>
    <div class="skills">
        <div class="glass skill hide-on-mobile" appBackgroundImage="https://storage.googleapis.com/zeji-portfolio-resources/skills-background/hero.png">
            <div class="blur-layer-vertical-double"></div>
            <div class="content">
                <h2>soft skills</h2>
                <div class="details">
                    <div class="detail glass">Java</div>
                    <div class="detail glass">Springboot</div>
                    <div class="detail glass">NodeJs</div>
                    <div class="detail glass">MongoDB</div>
                    <div class="detail glass">MySQL</div>
                    <div class="detail glass">Oracle</div>
                </div>
            </div>
        </div>
        <div class="glass skill" appBackgroundImage="https://storage.googleapis.com/zeji-portfolio-resources/skills-background/astronaut.png">
            <div class="blur-layer-vertical-double"></div>
            <h2>front end</h2>
        </div>
        <div class="glass skill" appBackgroundImage="https://storage.googleapis.com/zeji-portfolio-resources/skills-background/robot.png">
            <div class="blur-layer-vertical-double"></div>
            <h2>back end</h2>
        </div>
        <div class="glass skill selected" appBackgroundImage="https://storage.googleapis.com/zeji-portfolio-resources/skills-background/alien.png">
            <div class="blur-layer-vertical-double"></div>
            <h2>others</h2>
            <div class="details">
                <div class="detail glass">Java</div>
                <div class="detail glass">Springboot</div>
                <div class="detail glass">NodeJs</div>
                <div class="detail glass">MongoDB</div>
                <div class="detail glass">MySQL</div>
                <div class="detail glass">Oracle</div>
            </div>
        </div>
    </div>
</main>
