<main>
    <div class="blur-layer-vertical-double"></div>
    <div class="story">
        <h1 class="desktop-title">Full stack web developer</h1>
        <h1 class="mobile-title">full stack<br>web developer</h1>
        <div class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic vitae, earum nisi dolores nemo dolor? Vel, eveniet, obcaecati vitae totam expedita earum rem est officia, veritatis repellendus alias dignissimos? Nostrum? Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut sequi molestiae consequuntur ab corrupti, praesentium </div>
        <div class="contact-buttons">
            <div class="contact-btn">contact</div>
            <div class="social-buttons">
                <div class="social-btn"><div class="icon"></div></div>
                <div class="social-btn"><div class="icon"></div></div>
                <div class="social-btn"><div class="icon"></div></div>
            </div>
        </div>
    </div>
    <div class="image">
        <div class="portrait"></div>
        <div class="portrait-back"></div>
    </div>
</main>
